.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 18px;
    border: none;
    gap: 10px;
    background-color: var(--bg-secondary-color);
    color: var(--text-light-color);
    outline: none;
}

.btn:hover, .btn:focus{
    background-color: var(--accent-color);
}